<!--Header-->
<%- include('partials/header') %>

<!--Main-->
<main>
    <section id="about-me">
        <h1>About Me</h1>
        <img class="scaled_image" src="/images/headshot.jpg" alt="Jian Heng W.">
        <p>
            Hello, I'm Jian Heng. I'm a dedicated programmer and game developer with a passion for creating interactive experiences. With a background in media, I bring a unique perspective to my work, combining technical expertise with creativity. I'm always eager to take on exciting challenges in the world of programming and game development.
        </p>
        <a href="/Resume.pdf" class="btn">Download Resume</a>
    </section>
</main>

<!--Footer-->
<%- include('partials/footer') %>
