<!--Header-->
<%- include('partials/header') %>
    
<!--Main-->
    <main>
        <section id="projects">
            <h1>Projects</h1>
            <!--The first project-->
            <div class="project">
                <h2>Space Explorer</h2>
                <p>
                    <strong>Description: </strong>"Space Explorer" is an exciting 2D space adventure game where players control a spaceship and explore the vast cosmos. They encounter celestial phenomena and challenges on their journey.
                </p>
                <p><strong>My Role:</strong> I contributed to the game design and gameplay mechanics. I implemented the spaceship's control system, including movement and collision detection, making it an enjoyable and challenging experience for players.</p>
                <br>
                <img src="/images/space-explorer.png" alt="Space Explorer">
                <br>
            </div>
            
            <!--the second project-->
            <div class="project">
                <h2>Puzzle Quest</h2>
                <p>
                    <strong>Description: </strong>
                    "Puzzle Quest" is a mobile puzzle game that tests players' problem-solving skills. It features a variety of puzzles and challenges that require logic and quick thinking.
                </p>
                <p><strong>My Role:</strong> I was responsible for level design and puzzle creation. I designed engaging and progressively challenging levels, ensuring that players would have fun while enhancing their cognitive skills.</p>
                <br>
                <img src="/images/puzzle-quest.png" alt="Puzzle Quest">
                <br>
            </div>
            
            <!--the third project-->
            <div class="project">
                <h2>Inventory Management System</h2>
                <p>
                    <strong>Description: </strong> "Inventory Management System" is a web-based application that simplifies inventory tracking for small businesses. It allows users to add, update, and delete products in their inventory, making business operations more efficient.
                </p>
                <p><strong>My Role:</strong> This is my own practice project I'm working on right now for self practice, I'm working on the front-end development right now. Implementing the user interface and improving user experience. I focused on creating a user-friendly design and responsive layout to help businesses manage their inventory effortlessly.</p>
            </div>
            
        </section>
    </main>

<!--Footer-->
<%- include('partials/footer') %>