<!--Header-->
<%- include('partials/header') %>

<!--Main-->
<main>
    <section id="services">
        <h1>Services</h1>
        <!--My first offer is programming-->
        <div class="service">
            <h2>Programming</h2>
            <p>
                I offer a wide range of programming services, from web development to software solutions. My expertise covers various programming languages and technologies.
            </p>
        </div>
        <!--second offer for game development-->
        <div class="service">
            
            <h2>Game Development</h2>
            <p>
                As a game developer, I can create engaging, interactive experiences for web and mobile platforms. Let's turn your game idea into reality!
            </p>
        </div>
        <!--this is like a bonus offer, If they're interested in my hobby skill-->
        <div class="service">
            
            <h2>Media Production</h2>
            <p>
                I also excel in media content creation, including photo and video production as a hobby. Elevate your media projects with my creative touch.
            </p>
        </div>
    </section>
</main>

<!--Footer-->
<%- include('partials/footer') %>
